@import '../../../node_modules/normalize.css/normalize.css';

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, ::after, ::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 10px;
}

body {
  color: #333;
  font-family: 'Segoe UI', 'Lucida Grande','Ubuntu','sans-serif';
  font-size: 12px;
  line-height: 1;
}

:global(#graph) {
  width: 100%;
  height: 100%;
  margin-top: 70px;

  :global(.node-tooltip) {
    position: absolute;
    width: auto;
    height: auto;
    border: 1px solid rgba(0,0,0,0.5);
    background: #fff;
    text-align: center;

    img {
      border: 1px solid rgba(0,0,0, 0.25);
      padding: 5px;
      margin: 5px;
    }

    h6 {
      border-bottom: 1px dotted rgba(0,0,0, 0.5);
      padding: 5px;
      font-size: 1rem;
      margin: 0;
      margin-bottom: 5px;
    }
  }
}

:global(.page) {
  margin-top: 100px;
  padding: 20px;
}
