.appbar {
  z-index: 10;
  display: flex;
  min-height: 6.4rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 1px hsla(0,0%,100%,.65);

  ul {
    margin: 0;

    a {
      text-transform: uppercase;
    }

    button {
      color: #fff !important;
      span {
        text-decoration: underline;
      }

      &:hover {
        background: transparent !important;
      }
    }
  }
}


.navigation {
  flex-grow: 1;
  text-align: left;
  > ul {
    list-style: none;
    > li {
      display: inline-block;
      > a {
        font-family: Roboto,Helvetica,Arial,sans-serif;
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: 0;
        position: relative;
        display: inline-block;
        padding: 0 1.5rem;
        margin-right: 1rem;
        line-height: 6.4rem;
        color: #fff;
        &.active:after {
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: 100%;
          height: .3rem;
          content: '';
          background-color: #ff4081;
        }
      }
    }
  }
}

.informations {
  flex-grow: 1;
  text-align: right;
  > ul {
    list-style: none;
    > li {
      display: inline-block;
      line-height: 6.4rem;
      margin-right: 1rem;
    }
  }
}
